<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="bd_dogeEntitiesSqlServer" connectionString="metadata=res://*/BaseDeDatos.csdl|res://*/BaseDeDatos.ssdl|res://*/BaseDeDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=petshop.cmx3tebmpefi.us-east-2.rds.amazonaws.com;initial catalog=bd_doge;persist security info=True;user id=master;password=admin.sae;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>